<!-- index.html -->
{% extends "base.html" %}

{% block title %}
Welcome to Our Site!
{% endblock %}

{% block content %}
<div class="container">
    <div class="row min-vh-100 align-items-center align-content-center">
        <div class="col mt-5 mt-md-0 mx-auto mb-2">
            <div class="text-center">
                <img src="/static/index2.png" class="rounded" alt="aura" style="width: 50%;">
                <p>WELCOME TO CLOUD COMPUTING</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}





